/* ===== Authentication Styles (Login/Signup) ===== */

/* Login Background */
.login-bg-image {
  height: 100vh;
  background: url(../images/bg-01.jpg) center center/cover;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

/* Auth Login Form */
.auth-login-form {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  position: fixed;
}

.auth-login-form .auth-form {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
